/* обнуление */
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: black;
	font-family: "Open sans";
}
/* верстка */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	border: solid 2px red;/* цветной контейнер */
}
/* heder top*/
.heder {
margin: 0px auto;
}
.logo-winter {
position: absolute;
height: 16px;
left: 424px;
top: 12px;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.logo-winter--href {
color: #88C6FF;
}
.heder__heder-top {
height: 40px;
left: 0px;
top: 0px;
background: #141414;
}
/* heder content*/
.heder__heder-menu {
	max-width: 1046px;
	margin: 0px auto;
	border: solid 2px red;/* цветной контейнер */
	
}
.img-logo {
	background: url('/lessons/project_site/img/wolf.png') no-repeat;
	width: 53px;
	height: 60px;
	left: 68px;
	top: 47px;
	float: left;
	border: solid 2px red;
}
.logo {
	border: solid 2px red;
width: 104px;
height: 25px;
left: 130px;
top: 67px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
align-items: center;
letter-spacing: 0.01em;
float: left;
text-align: center;

}
.serh {
}
.item-logo {

}
.itm-img {

}
.clear {
	clear: both;
}
/* heder item*/
.heder__heder-item {
	max-width: 1046px;
margin: 0px auto;
border: solid 2px red;/* цветной контейнер */
}
.item-serh {
}
.item-serh--red {
}

