*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	max-width: 1024px;
	padding:0 15px;
	
	
}
.conteiner {
	height: 400px;
	margin: 0 auto;
	position: relative;
}
.img {
		display: block;
		margin-left: auto;
		margin-right: auto 
		
	}


.bio {
	position: absolute;
	left: 200px;
    top: 20px;
	z-index: 1;
}
.man {
	position: absolute;
	left: 400px;
    top: 20px;
	z-index: 1;
}
.no {
	position: absolute;
    left: 292px;
    top: 15px;
	z-index: 2;
}
.yin {
	position: absolute;
	left: 310px;
    top: 125px;
	z-index: 1;
}
.bio:hover{
	z-index: 3;
}
.man:hover{
	z-index: 3;
}
.no:hover{
	z-index: 4;
}
.yin:hover{
	z-index: 3;
}


